
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><img src="/images/logo.jpeg" alt="StayNix Logo">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

     <div class="search-wrapper mx-auto my-2">
      <form class="search-form" role="search"  action="/listings" method="GET">

      <input
      class="form-control search-input"
      type="search"
      name="search"
      placeholder="Search Destination" >

      <button class="btn btn-search" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span>Search</span>
      </button>

     </form>
     
    </div>


      <div class="navbar-nav ms-md-auto text-center" >
         <a class="nav-link host-btn" href="/listings/new">Staynix your space</a>
        <% if(!currentUser) { %>
          <a class="nav-link"  href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>