body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    
}

.container{
    flex:1;
}

/* nav bar */
.navbar{
    height: 5rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* Footer */

.f-info{
text-align:center;
background:#ebebeb;

display:flex;
flex-wrap:wrap;

justify-content:center;
align-items:center;

padding:1rem;
min-height:8rem;

gap:1rem;
}

.f-info-socials,
.f-info-brand,
.f-info-links{
width:100%;

display:flex;

justify-content:center;
align-items:center;

flex-wrap:wrap;
}

.f-info-socials i{
font-size:1.2rem;
margin:0 0.8rem;
}

.social-icon{
color:#222;
text-decoration:none;
transition:0.3s;
}

.social-icon:hover{
color:#fe424d;
}

.f-info-links a{
text-decoration:none;
color:#222;
margin:0 0.8rem;
}

.f-info-links a:hover{
text-decoration:underline;
}

@media (max-width:768px){

.f-info{
padding:1.5rem 1rem;
}

.f-info-brand{
font-size:0.9rem;
}

.f-info-links a{
font-size:0.85rem;
margin:0.3rem;
}

}

/* cards */

.card {
    border:none !important;
    border-radius:18px !important;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    transition:all .3s ease;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.card-img-top{
      height:280px;
    width:100%;
    object-fit:cover;
    border-radius:18px;
}

.card-body {
    padding: 0rem;
}

.card-text p{
    font-weight:400 !important ;
}

.listing-link {
    text-decoration: none;
    
}

.card-img-overlay:hover {
    opacity:0.2;
    background-color: #ebebeb;
}

.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}

.edit-btn{
    background-color:#fe424d !important;
    border:none !important;
}

.filter{
    opacity:0.75;
    transition:all .3s;
}

.filter:hover{
    opacity:1;
    color:#fe424d;
    transform:translateY(-4px);
}

/* show page */


.show-card{
   border: none;
}

.card-text{
   margin-bottom: 0.8rem;
}

.btns{
   display: flex;
   gap: 1rem;
}

.edit-btn{
   background-color: #fe424d !important;
   border: none !important;
}

.add-btn{
   background-color: #fe424d !important;
   border: none !important;
}

.review-card{
    border: 1px solid #dcdcdc !important;
    border-radius: 12px;
}

.review-card .card-body{
    padding: 1rem 1.2rem;
}

.show-img{
width:100%;
height:28rem;
object-fit:cover;
border-radius:1rem 1rem 0 0;
}

#map{
height:400px;
width:100%;
margin-top:20px;
border-radius:12px;
}

@media (max-width:768px){

.show-img{
height:18rem;
}

#map{
height:250px;
}

}


.hero-section{
    position:relative;
    overflow:hidden;

    padding:5rem 2rem;

    background:linear-gradient(
        135deg,
        #ff3b4f,
        #ff7b84
    );

    color:white;
    text-align:center;

    border-radius:28px;
    margin:1.5rem 0 2rem 0;
}

.hero-section h1{
    font-size:4rem;
    font-weight:700;
    margin-bottom:1rem;
}

.hero-section p{
    font-size:1.4rem;
}

.hero-content{
    position:relative;
    z-index:2;
}

.form-control:focus,
.form-select:focus{

border-color:#fe424d;

box-shadow:
0 0 8px rgba(254,66,77,0.25);
}

/* NAVBAR */

.search-wrapper{
flex:1;
display:flex;
justify-content:center;
margin:0 1rem;
}

.search-form{
display:flex;
align-items:center;
gap:0.6rem;
}

.search-input{
    width:22rem;
    border-radius:999px;
    padding:0.8rem 1.2rem;
}

.btn-search{
background:#fe424d;
color:white;
border:none;
border-radius:999px;
padding:0.8rem 1.2rem;
display:flex;
align-items:center;
justify-content:center;
gap:0.4rem;
}

.btn-search:hover{
background:#fe424d;
color:white;
}

.host-btn{
    background:#fe424d !important;
    color:rgb(20, 2, 2) !important;
    padding:10px 18px !important;
    border-radius:999px !important;
    font-weight:600;
    transition:.3s;
}

.host-btn:hover{
    transform:scale(1.05);
}

@media(max-width:768px){

.search-wrapper{
margin:0 0.5rem;
}

.search-input{
width:11rem;
font-size:0.9rem;
}

.btn-search span{
display:none;
}

.navbar-collapse{
background:white;
padding:1rem;
margin-top:0.5rem;
border-radius:1rem;
box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.navbar-nav{
text-align:center;
gap:0.7rem;
}

.host-btn{
width:100%;
}

}

.navbar-brand{
    color:#fe424d !important;
    font-weight:700;
    font-size:1.4rem;
}

.brand-text{
    margin-left:8px;
}

a.host-btn{
    color: black !important;
}

.plane-icon{
    position:absolute;
    top:25px;
    left:60px;

    font-size:4rem;

    color:white;
    opacity:0.25;

    transform:rotate(-25deg);
}

.mountain-icon{
    position:absolute;
    bottom:20px;
    left:120px;

    font-size:6rem;

    color:white;
    opacity:0.18;
}

.compass-icon{
    position:absolute;
    right:70px;
    bottom:30px;

    font-size:5rem;

    color:white;
    opacity:0.18;
}

@media (max-width:768px){

.hero-section{
    padding:2.5rem 1rem;
    border-radius:18px;
}

.hero-section h1{
    font-size:1.9rem;
    line-height:1.3;
}

.hero-section p{
    font-size:0.95rem;
}

.plane-icon{
    top:10px;
    left:15px;
    font-size:1.6rem;
}

.mountain-icon{
    bottom:10px;
    left:25px;
    font-size:2rem;
}

.compass-icon{
    right:15px;
    bottom:10px;
    font-size:1.8rem;
}

#filters{
    display:flex;
    overflow-x:auto;
    gap:1rem;
    scrollbar-width:none;
}

#filters::-webkit-scrollbar{
    display:none;
}

}